* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montseratt", sans-serif;
}

.app {
  background-color: #151923;
  height: 100vh;
}

main {
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 55px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

  color: #ffff;
  font-size: 20px;

  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.date {
  margin: 0px 0px 15px;
  color: white;
  font-weight: 100;
  text-align: right;
}

.location-box .location {
  color: #ffff;
  font-size: 20px;
  font-weight: 100;
  text-align: left;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.weather-box-container {
  display: flex;
}

.weather-box {
  width: 374px;
  height: 98px;
  border-radius: 18px;
  background-image: url("./images/city_night.jpg");
  background-position: center;
  opacity: 59%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  font-size: 22px;
  font-weight: 500;

  padding: 10px;
}

.weather-box #default-country {
  font-size: 18px;
  font-weight: 200;
}

#default-temp {
  display: flex;
  text-align: right;
  justify-content: flex-end;

  font-size: 60px;
  width: 100%;
}

#default-temp span {
  margin-bottom: -30px;
}
